/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

 .amazon-logo{
    @apply flex  cursor-pointer hover-header
    laptop:ml-2 tablet:ml-1         
    laptop:mr-[1px] laptop:my-[1px]
    laptop:pl-[26px] pr-2 pt-[5px] p-[10px_40px_0px_0px]
    mobile:pt-[0px]
  }
    
  .amazon-logo-image {
    @apply object-contain 
    h-[30px] min-h-[27px] 
    w-[97px]
     laptop:min-w-[97px] mobile:min-w-20 tablet:min-w-20 mobile:h-[27px]
     mt-[12px] scale-95;
  }

  .amazon-logo-in {
    @apply text-[13.5px] font-[500] text-white mt-[12px] mobile:mt-[10px] ml-[1px];
  }
} */
